{% extends 'base.html' %}

{% block title %}
  Welcome!
{% endblock %}

{% load static %}
{% block style %}
  <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
{% endblock %}

{% block content %}
  <div id='main_page__content'>
    <div id="main_page__first_column">
      <h1>
        Welcome to the site
      </h1>
    </div>

    <div id="main_page__second_column">
      <h2 class="login_header">Sign in</h2>
      <form method="post">
        <table>
          {{ form_login.as_table }}
          {% csrf_token %}
        </table>
        <input type="submit" value="Log in">
      </form>

      <h2 class="register_header">Sign up for The Site</h2>
      <form method="post">
        <table>
          {{ form_registration.as_table }}
          {% csrf_token %}
        </table>
        <input type="submit" value="Register">
      </form>
    </div>
  </div>

{% endblock %}