
#main_page__content {
    /* display: table-cell; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main_page__first_column {
    /* position: absoluted; */
    /* float: left; */
    display: inline-block;
    align-content: center;
    text-align: center;
    width: 55%;
}

#main_page__second_column {
    /* float: right; */
    display: inline-block;
    align-content: center;
    width: 35%;
}

.register_header {
    text-align: center;
}

.login_header {
    text-align: center;
}
